@font-face
{
	font-family: 'Lato';
	src: url('font/Lato-Regular.ttf')
}

html body
{
	margin: 40px;
	padding: 50px;
	background-color: #131C28;
	font-family: 'Lato';
}

input, button:focus {
    outline:none;
}


input {
	padding: 5px;
	font-size: 15px;
	width: 380px;
	display: block;
	margin-bottom: 20px; 
	background-color: #1A304D;
	height: 50px;
	border-color: #4AE4BD;
	border-radius: 10px;
	color: white;
}